<%- include('header') %>

<div class="login-form">
    <form action="/login" method="post">
        <h2 class="text-center">dealer Log in</h2>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" required="required" name="username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required="required" name="password">
        </div>


        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
    
        <div class="clearfix">Copyright © <a href="https://lin.ee/7lKPXT1">ชาติณัชสิทธิ์ วงษ์นาคเพ็ชร</a></div>
    </form>







<%- include('footer') %>